<h1>Contact Us</h1>
<p>
<form action="form">
  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"> <br>
  MY E-mail       : <input type="email" name="mail"> <br>
  Password : <input type="password" name="password"  ><br>
  Comments: <textarea rows="5" cols="30"></textarea><br>
  <input type="radio" name="sex" value="male">Male<br>
  <input type="radio" name="sex" value="female">Female <br>
  <input type="submit" value="Submit Form" name="submit">

</form>
</p>
