<h1>Choose Dresses Here</h1>   <br>

<center><h2 class="BoxHeaders">Lace Decorate</h2>

  <p><a href="http://127.0.0.1:3000/bag"><img src="/assets/dresses/women.jpg" alt="Lace Belted" height="200px"></a></p>

  <p>Lace Decorate Belted Dresses For Women <font color="red">US$ 41.99</font></p>

  <h2 class="BoxHeaders">Winter Scoop Collar</h2>

  <p>
    <a href="http://127.0.0.1:3000/bag"><img src="/assets/dresses/cottonAbaya.jpg" alt="Lace Belted" height="200px"></a>
  </p>

  <p>Winter Scoop Collar Pu Appliques Slim Knit Long Dresses Blue <font color="red">US$ 25.50</font></p>

  <h2 class="BoxHeaders">Women One-Breasted</h2>

  <p><a href="http://127.0.0.1:3000/bag"><img src="/assets/dresses/elegant.jpg" alt="Lace Belted" height="200px"></a>
  </p>

  <p>Women One-Breasted Irregular Lap Long Sleeve Floral Print Dresses <font color="red">US$ 30.80</font></p>

  <p><%= link_to 'Continue Shopping', :controller => :items %></p></center>
