<h1>Welcome to my Homepage</h1>
<p> Feel free to navigate to any pages and select any items that suite you </p>
<a href="http://127.0.0.1:3000/bag"><img src="/assets/Clothes/Pict2.jpg" alt="New Clothes"></a>
<b>Unit Price:</b><font color="red">$34.50 </font>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Etiam nec tortor in magna facilisis sagittis.</p>

<div class="box">
  <h2 class="BoxHeaders">Lovely Dress</h2>
  <a href="http://127.0.0.1:3000/bag"><img src="/assets/Clothes/Pict3.jpg" alt="New Clothes"></a>
  <b>Unit Price:</b><font color="red">$24.50 </font>
</div>
<p>Donec at diam nec eros bibendum rutrum. Praesent arcu lectus, accumsan sit amet
  suscipit sed, semper et diam. Ut sed justo mauris, quis rhoncus lectus. Curabitur facilisis
  quam at ante eleifend placerat.</p>
<div class="box">
  <h2 class="BoxHeaders">Look Dress</h2>
  <a href="http://127.0.0.1:3000/bag"><img src="/assets/Clothes/Pict4.jpg" alt="New Clothes"> </a>
  <b>Unit Price:</b><font color="red">$42.50 </font>
</div>
<p>Nam at purus non leo tincidunt feugiat nec eget ligula. Proin
  sed diam massa, sed fringilla tellus. In egestas commodo nunc, id scelerisque libero suscipit
  sed. Sed pretium lacus nisi. Nulla facilisi. Vestibulum nisl tellus, vehicula eu malesuada non,
  vehicula eu tellus.</p>
<div class="box">
  <h2 class="BoxHeaders">Pure Cotton Dress</h2>
  <a href="http://127.0.0.1:3000/bag"> <img src="/assets/Clothes/Pict5.jpg" alt="New Clothes"> </a>
  <b>Unit Price:</b><font color="red">$44.50 </font>
</div>
<p>Donec mollis turpis vel
sem congue et faucibus felis consequat. Duis sapien dolor, accumsan eu
eleifend rutrum, rutrum placerat sem. </p>
